body {
    background-image: url('../images/community_bg.jpg');
    background-size: cover;
}
section.hero {
    background-image: url('../images/hero_background.jpg');
    background-size: cover;
    background-color: rgba(0, 0, 0, .8);
    background-blend-mode: multiply;
}
footer.footer.is-primary {
    background-color: transparent !important;
}
.box.has-text-centered {
    background-color: rgba(0, 0, 0, .5);
}
.is-get-margin {
    margin: 0 10px;
}
a.button.is-primary.is-large.is-get-margin {
    background-color: #eaa300;
}