html
    head
        title= title
    body
        h1= message
        p website heroku ini adalah website yang akan saya gunakan untuk membuat soal yang nantinya akan tampil di aplikasi android kuis pubg mobile 2019
        a(href="/testing") Tempat testing
        a(href="/kuis") Dashboard Kuis