<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Kuis Submitter</title>
</head>
<body>
    <form action="/kuis/add" method="post">
        <div>
            <label for="soal">soal</label>
            <input type="text" name="soal">
        </div>
        <div>
            <label for="use-image">use image</label>
            <input type="radio" name="use-image" value="1">Yes
            <input type="radio" name="use-image" value="0">No
        </div>
        <div>
            <label for="gambar">gambar</label>
            <input type="file" name="gambar">
        </div>
        <div>
            <label for="correct-answer">jawaban yang benar</label>
            <input type="text" name="correct-answer">
        </div>
        <div>
            <label for="wrong-answer1">jawaban yang salah #1</label>
            <input type="text" name="wrong-answer1">
        </div>
        <div>
            <label for="wrong-answer2">jawaban yang salah #2</label>
            <input type="text" name="wrong-answer2">
        </div>
        <div>
            <label for="wrong-answer3">jawaban yang salah #3</label>
            <input type="text" name="wrong-answer1">
        </div>
    </form>
</body>
</html>